[Desktop Entry]
Type=Application
Name=Muxduit
Comment=Local FFmpeg transcoder frontend
Exec=muxduit-flatpak
Icon=dev.aligator.muxduit
Terminal=false
Categories=AudioVideo;Video;Utility;
